.accordion-item {
  margin-bottom: 0.88rem;

  &:active,
  &:focus {
    border-radius: var(--bs-border-radius) !important;
    --bs-accordion-border-color: var(--Cobalt, #006fba);
    border: var(--bs-accordion-border-width) solid var(--Cobalt, #006fba) !important;
    border-width: var(--bs-border-width);
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
  }
}

:host([data-bs-outline='top']) .accordion-item {
  border-radius: 0;
  border-top: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
  border-bottom: none;
  border-right: none;
  border-left: none;
}

:host([data-bs-outline='bottom']) .accordion-item {
  border-radius: 0;
  border-bottom: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
  border-top: none;
  border-right: none;
  border-left: none;
}

:host([data-bs-outline='topbottom']) .accordion-item {
  border-radius: 0;
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
  border-right: none;
  border-left: none;
}

:host([data-bs-outline='full']) .accordion-item {
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
