.offcanvas-footer {
    bottom: 0;
    position: absolute;
    width: var(--bs-offcanvas-footer-width, calc(100% - 32px));
    gap: var(--bs-offcanvas-footer-gap, '');
    justify-content: var(--bs-offcanvas-align-content, 'left');
    padding: var(--bs-offcanvas-paddding, 1rem);
    border-top: 1px solid var(--bs-offcanvas-border-color, rgba(0, 0, 0, 0.125));
    display: var(--bs-offcanvas-footer-display, inherit);
    text-align: var(--bs-offcanvas-text-align, inherit);
    background-color: white;
    z-index: 10;

    tds-flyout-button {
        width: 50%;
    }
}
