@use 'sass:map';
@use '../../../../scss/abstracts/' as *;

.dropdown-item {
  vertical-align: middle;
  height: 2.25rem;
  padding: 0.38rem 1rem;
  color: map.get($color-palette, 'charcoal');
  text-decoration: none;
  display: flex;
  cursor: pointer;
  align-content: center;
  flex-wrap: wrap;
}

.dropdown-item:hover,
.dropdown-item:focus {
  --button-text-decoration: none;
  --button-color: unset;
  --button-color-hover: #{map.get($color-palette, 'teal')};

  background: map.get($color-palette, 'neutral-gray-2');
  color: map.get($color-palette, 'charcoal');
}

.dropdown-item:active {
  --button-color: #{map.get($color-palette, 'white')};
  --button-color-active: #{map.get($color-palette, 'white')};
  --button-text-decoration: none;

  background: #{var(--Teal, map.get($color-palette, 'teal'))};
  color: #{map.get($color-palette, 'white')};
}
