// src/components/Accordion/AccordionBody/AccordionBody.scss
.show .accordion-collapse {
  display: block;
}

div {
  display: none;
  padding: var(--bs-accordion-body-padding);

  &[open] {
    display: block;
  }
}
