@use "sass:map";
@import "../Toast.scss";

.toast-header {
  border: 0;
  padding-bottom: 1rem;
  color: var(--Charcoal, #262626);

  /* H9 */
  font-family: Arial;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */

  &::before {
    padding-right: 1.25rem;
    top: 0.195rem;
    position: relative;
    content: var(--bs-toast-icon);
  }
}

.error {
  &::before {
    padding-right: 1.25rem;
    top: 0.195rem;
    position: relative;
    content: var(--bs-toast-icon);
  }
}

.information {
  &::before {
    padding-right: 1.25rem;
    top: 0.195rem;
    position: relative;
    content: var(--bs-toast-icon);
  }
}

.confirmation {
  &::before {
    padding-right: 1.25rem;
    top: 0.195rem;
    position: relative;
    content: var(--bs-toast-icon);
  }
}

.alert {
  &::before {
    padding-right: 1.25rem;
    top: 0.195rem;
    position: relative;
    content: var(--bs-toast-icon);
  }
}
