:host {
  align-content: center;
  font-family: Arial;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.menu-button {
  gap: var(--button-gap);
  display: var(--button-display);
  flex: var(--bs-btn-d-flex, none);
}
