@use 'sass:map';
@use '../../../scss/abstracts/' as *;

@import 'bootstrap/scss/offcanvas';

:host(tds-flyout.offcanvas-backdrop) {
  background-color: rgba(38, 38, 38, 0.2) !important;
  position: fixed;
  top: var(--bs-offcanvas-backdrop-offset, 0);
  left: 0;
  z-index: 1200;
  width: 100vw;
  height: 100vh;
}

.offcanvas {
  --bs-offcanvas-bg: var(--White, #ffffff);
  --bs-offcanvas-zindex: 1200;
  --bs-offcanvas-height-offset: var(--flyout-offset, 0);
  --bs-offcanvas-backdrop-offset: var(--flyout-offset, 0);
  --bs-offcanvas-place-self: var(--flyout-offcanvas-place-self, auto);
  --bs-offcanvas-margin-top: var(--flyout-offcanvas-margin-top, 0);
  --bs-offcanvas-margin-right: var(--flyout-offcanvas-margin-right, 0);
  --bs-offcanvas-margin-bottom: var(--flyout-offcanvas-margin-bottom, 0);
  --bs-offcanvas-margin-left: var(--flyout-offcanvas-margin-left, 0);

  height: calc(var(--bs-offcanvas-height-offset) + var(--bs-offcanvas-height));
  position: fixed;
  z-index: var(--bs-offcanvas-zindex, 1200);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--bs-offcanvas-color);
  background-color: var(--bs-offcanvas-bg) !important;
  background-clip: padding-box;
  outline: 0;
  visibility: hidden;
  width: var(--bs-offcanvas-width);
  border-left: var(--bs-offcanvas-border-width) solid
    var(--bs-offcanvas-border-color);
  box-shadow: var(--bs-offcanvas-box-shadow);
  place-self: var(--bs-offcanvas-place-self);
  margin-top: var(--bs-offcanvas-margin-top);
  margin-right: var(--bs-offcanvas-margin-right);
  margin-bottom: var(--bs-offcanvas-margin-bottom);
  margin-left: var(--bs-offcanvas-margin-left);

  &-xl {
    --bs-offcanvas-width: min(95vw, 70.5rem);
    --bs-btn-d-flex: 0;
    --bs-offcanvas-footer-gap: 1.5rem;
  }
  &-lg {
    --bs-offcanvas-width: min(95vw, 59.25rem);
    --bs-btn-d-flex: 0;
    --bs-offcanvas-footer-gap: 1.5rem;
  }
  &-md {
    --bs-offcanvas-width: min(95vw, 48rem);
    --bs-btn-d-flex: 0;
    --bs-offcanvas-footer-gap: 1.5rem;
  }

  &-sm {
    --bs-offcanvas-width: min(95vw, 22.5rem) !important;
    --bs-btn-width: 100%;
    --bs-offcanvas-paddding: 0 !important;
    --bs-offcanvas-footer-width: 100%;
    --bs-offcanvas-footer-display: flex;
  }

  &-end {
    --bs-offcanvas-height: 100vh;
    --bs-offcanvas-position-right: 0rem;
    --bs-offcanvas-paddding: 1rem;
    --bs-offcanvas-box-shadow: -8px 0px 10px -4px rgba(0, 0, 0, 0.25);
    --bs-btn-border-radius: 0;
    --bs-offcanvas-text-align: right;

    right: var(--bs-offcanvas-width);
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid
      var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  &-start {
    --bs-offcanvas-height: 100vh;
    --bs-offcanvas-align-content: left;
    --bs-offcanvas-position-right: 0rem;
    --bs-offcanvas-paddding: 1rem;
    --bs-offcanvas-box-shadow: -8px 0px 10px -4px rgba(0, 0, 0, 0.25);
    --bs-btn-border-radius: 0;
  }

  &.show {
    visibility: visible;
  }

  @include media-breakpoint-down(sm) {
    --bs-offcanvas-width: min(95vw, 22.5rem);
  }
}
