@use 'sass:map';
@use '../../../../scss/abstracts/' as *;
// @import 'bootstrap/scss/forms/floating-labels';
// @import 'bootstrap/scss/forms/form-text';
// @import 'bootstrap/scss/forms/validation';

.form-control {
  --bs-border-width: 2px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 0;
  transition: none;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--Cobalt, #006fba);
  outline: 0;
  box-shadow: none;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;

  &:active,
  &:focus {
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
    border-color: var(--bs-primary);
  }
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: 2rem;
  line-height: 1.5;
  min-height: 2rem;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border: none;
  outline: 0;
  box-shadow: none;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
  //padding-top: 0.63rem;
  //padding-bottom: 0.22rem;
  padding: 0;
}

.form-floating + .support-text {
  color: var(--Cool-Gray-8, #888b8d);
  /* XSP */
  font-family: Arial;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
}

label.form-label {
  color: var(--Cool-Gray-8, #888b8d);

  /* XSP */
  font-family: Arial;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
  padding-top: 0;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  padding: 0rem 0rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: var(--bs-border-width) solid transparent;
  padding-top: 0.5rem;

  color: var(--Cool-Gray-8, #888b8d);
  /* H9 */
  font-family: Arial;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */

  transform-origin: none;
  transition: none;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  color: var(--Cool-Gray-8, #888b8d);
  top: -1.825rem;
  left: -3px;

  /* XSP */
  font-family: Arial;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
  padding-top: 0;

  transform: scale(1) translateY(0.8rem) translateX(0.15rem);
}

textarea.form-control {
  border-radius: 0.125rem;

  &::placeholder {
    color: var(--Cool-Gray-8, #888b8d);
    /* H9 */
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
  }

  &:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--Cobalt, #006fba);
    outline: 0;
    box-shadow: none;
  }
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  content: none;
  background-color: transparent;
  border-radius: var(--bs-border-radius);
}

.form-text {
  color: var(--Cool-Gray-8, #888b8d);

  /* XSP */
  font-family: Arial;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */

  padding-left: 1px;
}
