@use "sass:map";
@use "../../scss/abstracts/" as *;

%toggle {
  .form-check-label {
    opacity: 1;
    color: var(--Deep-Teal, #003031);
  }

  .form-switch {
    --bs-form-switch-bg: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3E%3Ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3E%3C/svg%3E');
    --bs-border-radius: 2em;
    --bs-border-color: rgba(0, 87, 88, 1);

    .form-check-input {
      &:not(:checked):not(:focus) {
        --bs-form-switch-bg: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3E%3Ccircle r=%273%27 fill=%27rgba%280, 87, 88, 1%29%27/%3E%3C/svg%3E');
        background-position: 0;
        margin-left: -2.5em;
        transition: background-position 0.15s ease-in-out;
        width: 2em;
      }

      &:checked {
        --bs-form-switch-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
        background-position: 100%;
        background-color: rgba(0, 87, 88, 1);

              &:hover {
        background-color: rgba(0, 87, 88, 1);
        box-shadow: 0px 0px 0px 3px rgba(0, 87, 88, 0.1);
        border-color: rgba(0, 87, 88, 0.8);
      }
      }

      &:focus {
        --bs-form-switch-bg: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3E%3Ccircle r=%273%27 fill=%27rgba%280, 87, 88, 1%29%27/%3E%3C/svg%3E');
        box-shadow: none;
        outline: 0;

        &:checked {
          --bs-form-switch-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
          background-position: 100%;
          background-color: rgba(0, 87, 88, 1);
        }
      }

      &:hover {
        background-color: rgba(0, 87, 88, 0.1);
        box-shadow: 0px 0px 0px 3px rgba(0, 87, 88, 0.1);
        border-color: rgba(0, 87, 88, 0.8);
      }

      &:disabled {
        filter: none;
        opacity: 0.5;
        pointer-events: none;
        background-position: left center;
        border-color: #888b8d;
      }

      &:checked:disabled {
        background-position: right center;
        border-color: #888b8d;
      }
    }
  }
}

body {
  @extend %toggle;
}

[data-bs-theme='light'],
[data-theme='light'] {
  @extend %toggle;
}

[data-bs-theme='dark'],
[data-theme='dark'] {
}
