:host .btn-close {
  margin-right: 0;
  margin-left: var(--bs-flyout-padding-x);
}

.offcanvas-header {
  border: 0;
  padding: 1.25rem 1rem;
  border-bottom: 1px solid var(--bs-offcanvas-border-color, rgba(0, 0, 0, 0.125));
  color: var(--Charcoal, #262626);

  /* H9 */
  font-family: Arial;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

