@use 'sass:map';
@use '../../../scss/abstracts/' as *;

@import 'bootstrap/scss/accordion';

.accordion {
  --bs-border-radius: 0.25rem;
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--Cool-Gray-1, #d9d8d7);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-accordion-btn-padding-x: 0.62rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: #fff;

  .accordion-item {
    margin-bottom: 0.88rem;

    &:active,
    &:focus {
      border-radius: var(--bs-border-radius) !important;
      --bs-accordion-border-color: var(--Cobalt, #006fba);
      border: var(--bs-accordion-border-width) solid var(--Cobalt, #006fba) !important;
      border-width: var(--bs-border-width);
      border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
      border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
      border-top-left-radius: var(--bs-accordion-inner-border-radius);
      border-top-right-radius: var(--bs-accordion-inner-border-radius);
    }
  }

  .accordion-button {
    border-radius: var(--bs-border-radius);
    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &:not(.collapsed) {
      color: initial;
      background-color: initial;
      box-shadow: none;
    }
  }

  &:host-context([data-bs-variation='top']) {
    .accordion-item {
      border-radius: 0;
      border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
      border-bottom: none;
      border-right: none;
      border-left: none;
    }

    .accordion-button {
      box-shadow: none;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &:host-context([data-bs-variation='bottom']) {
    .accordion-item {
      border-radius: 0;
      border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
      border-top: none;
      border-right: none;
      border-left: none;
    }

    .accordion-button {
      box-shadow: none;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &:host-context([data-bs-variation='topbottom']) {
    .accordion-item {
      border-radius: 0;
      border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
      border-right: none;
      border-left: none;
    }

    .accordion-button {
      box-shadow: none;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &:host-context([data-bs-variation='full']) {
    .accordion-item {
      border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
      border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
      border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
      border-top-left-radius: var(--bs-accordion-inner-border-radius);
      border-top-right-radius: var(--bs-accordion-inner-border-radius);
    }

    .accordion-button {
      box-shadow: none;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}

:host-context([data-bs-orientation='right']) {
  .accordion-button {
    &::after {
      background-image: var(--bs-accordion-btn-icon);
      background-repeat: no-repeat;
      background-size: var(--bs-accordion-btn-icon-width);
      content: '';
      flex-shrink: 0;
      height: var(--bs-accordion-btn-icon-width);
      margin-left: auto;
      transition: var(--bs-accordion-btn-icon-transition);
      width: var(--bs-accordion-btn-icon-width);
    }
  }
}

:host-context([data-bs-orientation='left']) {
  .accordion-button {
    &:not(.collapsed):before {
      background-image: var(--bs-accordion-btn-active-icon);
      transform: var(--bs-accordion-btn-icon-transform);
    }

    &::before {
      background-image: var(--bs-accordion-btn-icon);
      background-repeat: no-repeat;
      background-size: var(--bs-accordion-btn-icon-width);
      content: '';
      flex-shrink: 0;
      height: var(--bs-accordion-btn-icon-width);
      margin-left: inherit;
      transition: var(--bs-accordion-btn-icon-transition);
      width: var(--bs-accordion-btn-icon-width);
      margin-right: 0.63rem;
    }

    &::after {
      display: none;
    }
  }
}

:host([orientation='right']) {
  --bs-accordion-body-padding: 1.25rem 2.625rem 1.25rem 0.625rem;
}

:host([orientation='left']) {
  --bs-accordion-body-padding: 1.25rem 2.625rem;
}
