@use 'sass:map';
@use '../../../scss/abstracts/' as *;

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';

@import 'bootstrap/scss/modal';

:host(tds-modal.modal-backdrop) {
  --bs-backdrop-bg: rgba(38, 38, 38, 0.2) !important;
}

:host([size='lg'][placement='inline']) .modal-lg {
  --bs-modal-width: 59.25rem;
}

tds-button {
  padding-left: 1.25rem;
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: var(--bs-box-shadow);
  }
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: var(--bs-body-bg);
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: var(--bs-border-width);
  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  &.fade:not(.show) {
    opacity: 0;
  }

  &.show {
    display: block;
  }

  &.fade {
    transition: opacity 0.15s linear;
  }

  &.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    //transform: translate(0, -50px);
  }

  &.modal-sm {
    --bs-modal-width: 22.5rem;
  }

  &.modal-md {
    --bs-modal-width: 48rem;
  }

  &.modal-lg {
    --bs-modal-width: 56rem;
  }

  &.modal-xl {
    --bs-modal-width: 70.5rem;
  }
}

.modal-content {
  border-radius: 0.125rem;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.30);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;

  @media (min-width: 576px) {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }

  &.modal-dialog-centered {
    //position: absolute;
  }

  &.modal-dialog-inline {
    width: min(95vw, 70.5rem) !important;
    bottom: 0;
    position: absolute;

    @include media-breakpoint-between(xs, sm) {
      width: min(95vw, 22.5rem) !important;
    }
  }
}

@include media-breakpoint-between(xs, sm) {
  .modal-md .modal-dialog-centered {
    display: flex;
    align-items: self-end;
    min-height: 100%;
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0;
    pointer-events: none;
  }
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-only(md) {
  .modal-sm .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }

  .modal-md .modal-dialog-centered {
    display: flex;
    align-items: self-end;
    min-height: 100%;
    --bs-modal-width: 100%;
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0;
    pointer-events: none;
  }
}
