// src/components/Lit/Input/Dropdown/Dropdown.scss
@use 'sass:map';
@use '../../../../scss/abstracts/' as *;
@import '../Text';

.autocomplete__container {
  position: relative;
  margin-top: 0.8rem;
  width: 100%;
  max-width: 350px;
}

.autocomplete__results.visible {
  visibility: visible;
}

.autocomplete__input {
  display: block;
  width: 100%;
  padding: 0.4rem 0rem 0.4rem 1rem;
  border-radius: 5px;
}

.autocomplete__dropdown-arrow {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  transition: transform 0.2s linear;
  padding: 0;
}

.autocomplete__dropdown-arrow.expanded {
  transform: rotate(-180deg);
}

.autocomplete__results {
  visibility: hidden;
  position: absolute;
  top: 100%;
  margin-top: 0;
  width: 100%;
  overflow-y: auto;
  border: none;
  padding: 0;
  max-height: 200px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--White, map.get($color-palette, 'white'));
  z-index: 10;
}

.autocomplete__results > li {
  list-style: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.autocomplete__results > li:hover {
  background: var(--neutral-gray-2, map.get($color-palette, 'neutral-gray-2'));
  color: var(--black, map.get($color-palette, 'black'));
}

.autocomplete__results > li:focus, .highlighted {
  background: var(--teal, map.get($color-palette, 'teal'));
  color: var(--white, map.get($color-palette, 'white'));
}
