.offcanvas-title {
  margin: 0;

  color: var(--Charcoal, #262626);

  /* H7 B */
  font-family: Arial;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.875rem */
}
