@use 'sass:map';
@use '../../../scss/abstracts/' as *;
@import 'bootstrap/scss/dropdown';

:host {
  --menu-display: grid;
  display: inline-block;
}

.dropdown-menu {
  --bs-dropdown-padding-y: 0;
  --bs-menu-width: var(--menu-width, 'initial');

  position: var(--menu-position, absolute);
  display: var(--menu-display, none);
  width: var(--bs-menu-width);
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  border-radius: 0;

  border-top: 2px solid var(--Teal, #005758);
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.31);
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}
